<!DOCTYPE HTML>
<html>
	<head>
		<title>Scanzy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
                                    <a href="{{ url_for('index') }}" class="logo"><strong>Scanzy</strong></a>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Other Important Resources</h1>
									</header>

                                    <div class="table-wrapper">
                                        <table class="alt">
                                            <thead>
                                                <tr>
                                                    <th>Sl.No</th>
                                                    <th>Description</th>
                                                    <th>Website/Contact details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Latest Covid Updates, by Ministry of Health and Family Welfare, India.</td>
                                                    <td><a href="https://www.mohfw.gov.in/" target="_blank">https://www.mohfw.gov.in/</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>Track covid cases in India (a trusted open-source initiative)</td>
                                                    <td><a href="https://www.covid19india.org/" target="_blank">https://www.covid19india.org/</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.</td>
                                                    <td>Track covid cases arount the World </td>
                                                    <td><a href="https://www.worldometers.info/coronavirus/" target="_blank">https://www.worldometers.info/coronavirus/</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.</td>
                                                    <td>Covid-19 dashboard by World Health Organization (WHO)</td>
                                                    <td><a href="https://covid19.who.int/" target="_blank">https://covid19.who.int/</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">


							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
                                        <li><a href="{{ url_for('index') }}">Homepage</a></li>
                                        <li><a href="{{ url_for('model_details') }}">How the model works</a></li>
                                        <li><a href="{{ url_for('predictor') }}">Go to Predictor</a></li>
                                        <li><a href="{{ url_for('bulletin') }}">Other Important resources</a></li>
									</ul>
								</nav>


						</div>
					</div>

			</div>

		<!-- Scripts -->
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/util.js') }}"></script>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
