{% extends 'base.html' %}

{% block content1 %}
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, welcome to<br />
											  Scanzy</h1>
											<p>A free web-site to detect Covid-19 from your chest X-rays</p>
										</header>
										<!--<p>Thе COVID-19 pаndеmic is continuously hаving а dеvаstаting impаct on thе-->
                                        <!--wеll-bеing аnd hеаlth of thе globаl populаtion. Thе rаpid risе in pаtiеnts with-->
                                        <!--COVID-19 is chаllеnging for hеаlthcаrе systеms аll ovеr thе globе. With limitеd-->
                                        <!--tеsting kits, it is impossiblе to tеst with convеntionаl tеchniquеs (RT-PCR) for-->
                                        <!--еvеry pаtiеnt for thе rеspirаtory disеаsе. Еffеctivе scrееning of infеctеd pаtiеnts-->
                                        <!--is а cruciаl stеp in thе bаttlе аgаinst COVID-19, with rаdiologicаl imаging using-->
                                        <!--chеst rаdiogrаphy bеing onе of thе mаin scrееning mеthods.</p>-->

                                        <p>This web-site aims to detect the presence of Covid-19 automatically using your digital
                                        chest x-ray images. The web-site uses a deep-learning model (based on CNN architecture),
                                        for an accurate prediction. All you have to do is just upload your chest x-ray image in
                                         either PNG or JPG format, and we'll do the rest.</p>

                                        <p><strong>Disclaimer</strong>: Our deep-learning model is trained to be accurate by 92.19%. In case our
                                         website detects your sample to be positive, it is adviced to take a second opinion from 
                                          proper medical institions. Similarly, in case the result from here is negative but you 
                                         exhibit signs of covid-19 infection, it is again recommended to check with some proper
                                         medical institions.</p>
										<ul class="actions">
                                            <li><a href="{{ url_for('model_details') }}" class="button big">Learn More</a></li>
                                            <li><a href="{{ url_for('predictor') }}" class="button big">Go to Predictor</a></li>
										</ul>
									</div>
									<span class="image object">
                                        <img src="{{ url_for('static', filename='images/chest1.jpg') }}" alt="" />
									</span>
								</section>


						</div>
					</div>

{% endblock %}
