{% extends 'base.html' %}

{% block content1 %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Predictor</h1>
									</header>

									<!-- Content -->
										<h2 id="content">Please read the instructions carefully-</h2>
                                            <ol>
                                                <li>Ensure that the image being uploaded is that of a proper and authentic chest X-ray scan.</li>
                                                <li>Please check that the uploaded image is in either JPG, JPEG or PNG formt.</li>
                                                <li>Image in any other format excepting the above will not be accepted.</li>
                                                <li>Ensure that the image is proper and upright (not upside-down or rotated in any other angle).</li>
                                                <li>Click on "Predict now" button to check presence of covid-19 in the given sample, or "Reset" botton to clear the selection.</li>
                                                <li>Please do note that even though the model trained has a good prediction accuracy, the results produced are not definite. In case the result shows positive, please check again with any medical institution nearest to your residence.</li>
                                                <li>Likewise, if the results show negative, but if there persists signs or symptoms of covid-19, please isolate yourself and consult with the nearest medical institution.</li>
                                            </ol>

									<hr class="major" />

										<div class="row gtr-200">
											<div class="col-6 col-12-medium">


											<div class="col-6 col-12-medium">


												<!-- Form -->
                                                    <h3>Upload Form</h3>

                                                    <form method="post" enctype="multipart/form-data">
														<div class="row gtr-uniform">
															<div class="col-6 col-12-xsmall">
                                                                <label for="file">Select the file:</label>
                                                                <input type="file" id="myfile" name="file">
															</div>
															<div class="col-12">
                                                                <ul class="actions">
                                                                    <li><input type="submit" value="Predict now" class="primary" /></li>
                                                                    <li><input type="reset" value="Reset" /></li>
                                                                </ul>
															</div>
														</div>
													</form>

                                                    {% if pred == 0 %}
                                                    <p>The model predicts presence of covid in the uploaded chest x-ray image. Please consult or check with the nearest available medical centre.</p>
                                                    {% elif pred == 1 %}
                                                    <p>Congratulations, the model does not detect any presence of covid in the uploaded chest x-ray image. But, if there persists signs or symptoms of covid-19, please isolate yourself and consult with the nearest medical institution.</p>
                                                    {% endif %}


											</div>
										</div>

								</section>

						</div>
					</div>

{% endblock %}
